<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
</head>
<body>

<div th:fragment="header">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12"> <a href="index.html" class="logo"><img src="/images/logo.png" alt="" /></a>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <!-- Nav start -->
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-collapse collapse" id="nav-main">
                            <ul class="nav navbar-nav">
                                <li class="dropdown active"><a href="index.html">Home <span class="caret"></span></a>
                                </li>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                                <li class="dropdown"><a href="#.">Pages <span class="caret"></span></a>
                                    <!-- dropdown start -->
                                    <ul class="dropdown-menu">
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li class="active"><a th:href="@{/}">Login</a></li>
                                        <li><a th:href="@{/jobseekerProfile}">Register</a></li>
                                        <li><a th:href="@{/jobListing}">Job Listing</a></li>
                                        <li><a href="faqs.html">FAQs</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                        <li><a href="typography.html">Typography</a></li>
                                    </ul>
                                    <!-- dropdown end -->
                                </li>
                                <li class="dropdown"><a href="blog.html">Hey,  <span th:text="${jobseeker}? ${#strings.toUpperCase(jobseeker.first_name)} : 'Job Seeker'"></span> <span class="caret"></span></a>
                                    <!-- dropdown start -->
                                    <ul class="dropdown-menu">
                                        <li><a th:href="@{/jobseekerProfile/view}">View/Edit Profile</a></li>
                                        <li><a th:href="@{/allApplications}">View Applied Jobs</a></li>
                                    </ul>
                                    <!-- dropdown end -->
                                </li>

                            </ul>
                            <!-- Nav collapes end -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Nav end -->
                </div>
            </div>
            <!-- row end -->
        </div>
        <!-- Header container end -->
    </div>
</div>

</body>
</html>