<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
</head>
<body>

<div th:fragment="header">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12"> <a href="index.html" class="logo"><img src="/images/logo.png" alt="" /></a>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <!-- Nav start -->
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-collapse collapse" id="nav-main">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Home</a></li>
                                <!--<li><a href="about-us.html">About us</a></li>-->
                                <li class="dropdown"><a href="#.">Pages <span class="caret"></span></a>
                                    <!-- dropdown start -->
                                    <ul class="dropdown-menu">
                                        <li><a href="/viewjobs">Posted Jobs</a></li>
                                        <li><a href="/company/profile">View Company Profile</a></li>
                                        <li><a href="/company/profile/edit">Edit Company Profile</a></li>

                                    </ul>
                                    <!-- dropdown end -->
                                </li>
                                <!--<li class="dropdown"><a href="blog.html">Blog <span class="caret"></span></a>

                                    <ul class="dropdown-menu">
                                        <li><a href="blog.html">Blog List</a></li>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-full-width.html">Blog Grid Full Width</a></li>
                                    </ul>

                                </li>-->
                                <li class="postjob"><a  th:href="@{/postjob}">Post a job</a></li>
                            </ul>
                            <!-- Nav collapes end -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Nav end -->
                </div>
            </div>
            <!-- row end -->
        </div>
        <!-- Header container end -->
    </div>
</div>

</body>
</html>